body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#beginFilter{
  width: 99vw;
  height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 75vw;
  display: flex;
  z-index: 0;
  margin-top: 3em;
  margin-bottom: 1em;
  align-items: center;
}

h1 {
  font-family: helvetica, sans-serif;
  font-size: 4em;
  margin-top: 0;
  width: 100%;
  left: 0;
  color: black;
  opacity: .5;
  padding: .2em 0;
  z-index: 1000;
  margin-bottom: 0;
  font-weight: 700;
}

input::placeholder {
  font-size: 1.25em;
}

h3 {
  font-family: sans-serif;
  z-index: 99;
  color: white;
  background-color: rgba(0,0,0,.6);
  min-width: 14em;
  text-align: center;
  width: fit-content;
  font-size: 1.5em;
  font-weight: 500;
  text-decoration: none;
  margin-top: 0;
  transform: translateY(18.5em);
  padding: 1em;
}

h2 {
  color: rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
  margin-top: 1.25em;
  font-size: 20em;
  text-transform: uppercase;
  font-weight: 600;
  position: absolute;
  z-index: -1;
  transform: translateX(-20%);
}

#landing {
  display: flex;
  width: 99.2vw;
  height: 89vh;
  flex-direction: column;
  align-items: center;
  background-image: url(./images/TV_Series_Using_Vray.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#topic {
  width: 75vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 9em;
}

.naarTopic {
  color: white;
  background: crimson;
  padding: 1em 2em;
  font-family: helvetica;
  font-size: 2em;
  margin: 0;
  border-radius: 5px;
  box-shadow: 4px 4px 0px 0px rgb(169, 52, 52);
}

.landingContent {
  margin-top: 27em;
  color: white;
  z-index: 100;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.landingContent > p {
  font-family: helvetica;
  font-size: 1.9em;
  margin-bottom: 3em;
  letter-spacing: 1px;
}

.overlay {
  position: fixed;
  background-color: rgba(0,0,0,0.7);
  top: 6.6em;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.videoplayer {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;

}

.linkStyling {
  display: flex;
  margin-top: 3em;
  width: 33vw;
}

iframe {
  transform: translateY(5%);
  transition: .2s ease;
}

input {
  font-size: 1em;
  padding: 1em;
  margin-left: 2em;
}

.vidContainer {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding-bottom: 2em;
  transition: .2s ease;
  margin-top: 1em;
  margin-bottom: 3em;
}

.vidContainer::-webkit-scrollbar {
  width: 10px;
}

.vidContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
}


.vidContainer::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .3);
}

.vidContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.openVideo {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  z-index: 100;
}

span {
  position: fixed;
  top: 1vh;
  right: 1vh;
  font-family: sans-serif;
  color: white;
  font-size: 2em;
  cursor: pointer;
}

img {
  width: 50em;
  box-shadow: 10px 10px 48px -8px rgba(0, 0, 0, 0.8);
}

div > a {
  margin-right: 2em;
  text-decoration: none;
}

.contentBody {
  background-color: rgb(224, 224, 224);
}

ul {
  display: flex;
  padding: 0;
  width: 75vw;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul li {
  list-style: none;
  width: 4em;
  justify-self: center;
  font-size: 4em;
  font-family: helvetica;
}

li img {
  width: 25em;
  height: 36em;
  max-height: 1000em;
  max-width: 1000em;
  transition: .2s ease;
}

li img:hover {
  transform: scale(1.03);
}

li h3 {
  font-size: 1.5em;
  text-align: center;

}

#back {
  position: fixed;
  bottom: 1em;
  left: 1em;
  background-color: rgb(169, 52, 52);
  color: white;
  border-radius: 5px;
  padding: 1em;
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

.gone {
  display: none;
}

.filter {
  display: flex;
  margin-top: 0em;
}

.toggleLabelOn {
  color: rgba(0, 0, 0, 0.5);
  font-family: helvetica;
  font-weight: 600;
  width: fit-content;
  font-size: 11em;
}

.toggleLabelOff {
  color: rgba(0, 0, 0, 0.1);
  font-family: helvetica;
  font-weight: 600;
  width: fit-content;
  font-size: 11em;
}

.filterContent {
  display: flex;
  transition: .2s ease;
  align-self: center;
  height: 75vh;
  width: 75vw;
  flex-direction: column;
}

.teste {
  position: relative;
  min-width: fit-content;
  display: flex;
  align-items: center;
  align-self: flex-end;
  margin-right: 6vw;
}

.filter p {
  text-align: end;
  font-family: helvetica;
  font-size: 1.5em;
  text-transform: uppercase;
}

.lifilter {
  display: flex;
  flex-direction: column;
}

#topic input {
  margin: 0;
}

.topicWrap {
  margin-bottom: 10em;
  margin-top: 3em;
}

[type="checkbox"] {
	position: absolute;
	clip: rect(0,0,0,0);
}

.teste label::after {
  content: '\002B';
  display: inline-block;
  width: 0.8em;
  margin-right: .2em;
  border-radius: 50%;
  line-height: 0.8;
  text-align: center;
  border: 0.1em solid;
  font-size: 1em;
}

.teste label::after:hover {
  color: rgba(0, 0, 0, 0.5);
}

#beginFilter p {
  width: fit-content;
  font-family: helvetica, sans-serif;
  font-size: 1.5em;
}

#beginFilter h1 {
  width: 75vw;
}

#beginFilter a {
  font-family: helvetica;
  color: rgba(0,0,0,0.5);
  font-size: 3em;
  margin-top:.7em;
}

footer div {
  width: 88%;
}
